version: "3"
includes:
  common:
    taskfile: ./common/Taskfile.yaml
    dir: ./common
  postgres:
    taskfile: ./postgres/Taskfile.yaml
    dir: ./postgres
  argocd:
    taskfile: ./argocd/Taskfile.yaml
    dir: ./argocd

tasks:
  apply-api-golang:
    desc: Apply api-golang manifests
    cmds:
      - kubectl apply -f ./api-golang
  apply-api-node:
    desc: Apply api-node manifests
    cmds:
      - kubectl apply -f ./api-node
  apply-client-react:
    desc: Apply client-react manifests
    cmds:
      - kubectl apply -f ./client-react
  apply-load-generator-python:
    desc: Apply load-generator-python manifests to a specific namespace
    cmds:
      - kubectl apply -f ./load-generator-python -n {{.NAMESPACE}}
    requires:
      vars: [NAMESPACE]
  deploy-staging:
    desc: Deploy staging manifests
    cmds:
      - kubectl kustomize ./kustomize/staging | yq | kubectl apply -f -
  deploy-production:
    desc: Deploy production manifests
    cmds:
      - kubectl kustomize ./kustomize/production | yq | kubectl apply -f -

  apply-staging-namespace:
    desc: Create the staging namespace
    cmds:
      - kubectl create namespace demo-app-staging --dry-run=client -o yaml | kubectl apply -f -
  apply-production-namespace:
    desc: Create the production namespace
    cmds:
      - kubectl create namespace demo-app-production --dry-run=client -o yaml | kubectl apply -f -

  apply-all-staging:
    desc: Deploy all resources for staging environment
    cmds:
      - task: apply-staging-namespace
      - task: postgres:install-postgres
      - task: postgres:apply-initial-db-migration-job
      - task: common:deploy-traefik
      - task: deploy-staging
  apply-all-production:
    desc: Deploy all resources for production environment
    cmds:
      - task: apply-production-namespace
      - task: postgres:install-postgres
      - task: postgres:apply-initial-db-migration-job
      - task: common:deploy-traefik
      - task: deploy-production
